body {
  background-color: lavenderblush;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkmagenta;
  margin-left: 2em;
  margin-right: 2em;

}

h1 {
  text-align: center;
  margin: auto;
  padding: 5%;
}

h1 {
  margin:auto;
  padding-top: 10%;
  
}

.landing-page {
  text-align: center;
}

.button {
background-color: darkmagenta;
border: none;
color:aliceblue;
padding:20px;
text-align:center;
text-decoration:none;
display:block;
font-size: 16px;
margin: 4px 2px;
cursor:pointer;
}


.button-purple {
  background-color: darkmagenta;
  border:none;
  padding: 20px;
  color:aliceblue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18;
  margin: auto;
  margin-bottom: 2em;
  margin-right: 4em;
  cursor: pointer;
  border-radius: 50%;

}

.button-purple:hover {
  background-color: aqua;
  color: darkblue;

}

.button-pink {
  background-color: palevioletred;
  border: none;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;

}

.button-pink:hover {
  background-color:aqua;
  color:darkblue;
}

*/

/* making a link look like a button w/css attributed to freecodecamp tutorials */

.link {
  border:none;
  color: darkmagenta;
  text-decoration: none;
  display: block;
  font-size: 18;
  margin: auto;
  cursor: pointer;

}
.button-links {
  text-align:center;
  padding-top: 2em;
  padding-bottom: 2em; 
}

a:link {
  text-decoration: none;
  display: inline-block;
  color:powderblue;
}

a:visited {
  text-decoration: none;
  color: lavenderblush;
}

a:hover {
  text-decoration: none;
  color: aqua;
}

.pseudobutton-purple {
display:inline-block;
text-decoration: none;
font:bold;
background-color: darkmagenta;
color: lavenderblush;
margin-right: 2em;
padding: 20px 20px;
}

.pseudobutton-pink {
display: inline-block;
font: bold;
text-decoration: none;
background-color: palevioletred;
color: lavenderblush;
padding: 20px 20px;
}

.home-link {
display:inline;
font:bold;
text-decoration: none;
background-color: darkmagenta;
padding:5px 5px;
}

.about-link {
  display:block;
  font:bold;
  text-decoration: none;
  }

